<div class="user-design">

    <form action="/auth/user-recipes" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">
        <label for="ingredientsList">Ingredients List: </label>
        <input type="text" name="ingredientsList" id="ingredientsList">
        <label for="ingredientsFull">Ingredients with amount: </label>
        <input type="text" name="ingredientsFull" id="ingredientsFull">
        <label for="pasta">Pasta: </label>
        <input type="number" name="pasta" id="pasta">
        <label for="instructions">Instructions: </label>
        <input type="number" name="instructions" id="instructions">
        <label for="time">time: </label>
        <input type="number" name="time" id="time">
        <label for="image">Image: </label>
        <input type="number" name="image" id="image">

        <button type="submit" class="btn btn-secondary">Add a recipe</button>
    </form>
    
    {{#each recipes}}
    <div>
        <h4><a href="/auth/user-recipes/{{_id}}">{{name}}</a>
            <p>{{pasta}}</p>
        </h4>
    </div>
    {{/each}}

</div>