<<<<<<< HEAD
<div class="fridge-bg">
=======
>>>>>>> c4d7bf8aeb52e6566cddb5a65229eb9c1e78e3ec
<div class="form-wrapper">

  <form id="user-form" action="/ingredients" method="post">

    <div class="input-wrapper">
      <select id="user-ingredients" class="js-example-placeholder-multiple js-states form-control"
        name="userIngredientInput" multiple="multiple">
        {{#each arrIngrNoDup}}
        <option value="{{ this }}">{{ this }}</option>
        {{/each}}
      </select>
    </div>

    <div class="button-wrapper">
      <button class="btn btn-submit user-input-ingredients" type="submit">Show Me Recipes!</button>
    </div>

  </form>

</div>
<script>
  $(document).ready(function () {
    $('.js-example-basic-multiple').select2();
  });

  $(".js-example-placeholder-multiple").select2({
    placeholder: "What's in your fridge?"
  });


</script>
</div>