<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form id="user_input" action="/ingredients" method="post">
  
  <select id="user_ingredients" class="js-example-placeholder-multiple js-states form-control" multiple="multiple">

  </select>
  <br />
  <div class="btn submit-btn user-input-ingredients">
  <button type="submit">Show Me Recipes</button>
  </div>

</form>