<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h2>What's in your fridge?</h2>
<select class="js-example-basic-multiple" name="states[]" multiple="multiple">
  <option value="AL">Alabama</option>
    ...
  <option value="WY">Wyoming</option>
</select>