// BASIC Layout
* {
	padding: 0;
	margin: 0;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

.navbar {
	background-color: rgb(2, 31, 66);
	color: rgb(254, 203, 69);
	max-height: 7vh;
}

.nav-link {
	color: rgb(254, 203, 69);
}

.nav-link:hover {
	color: white;
}

.footer {
	background-color: rgb(2, 31, 66);
	color: white;
	font-size: 0.8rem;
	max-height: 4vh;
//	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 1vh; 
	margin: 0;

}

.footer p{
	margin:0;

}
// AUTH Design
#user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center; 
	margin-top: 50px;
}
	
#user_input {
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
}

#user-ingredients {
	width: 30vw;
}



//Carousel Design

.carousel-caption {
	color: black;
	background-color: white;
	position: relative;
	height: 120vh;
	overflow-y: scroll;
	margin-top: 3vh;
	left: auto;
	right: auto;
}

.carousel-inner {
	overflow: visible;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	background-color: rgb(2, 31, 66);
	position: fixed;
	bottom: 65vh;
}

.carousel-image {
	height: 20vh;
	object-fit: cover;
}

.ingredients-text {
	line-height: 1.6;
	font-size: 1.1rem;
	padding-bottom: 2vh;
	font-weight: 500;
}

.instructions-text {
	line-height: 1.6;
	font-size: 1rem;
}

h5 {
	margin-left: 4vh;
	margin-right: 4vh;
	padding-bottom: 2vh;
}

h6 {
color: rgb(42,127,177);
padding-bottom: 1vh;
}

.fridge-bg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(rgb(28,94,139), rgb(1, 18, 39));
	background-size: cover;
	height: 100vh;
}