body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  background-color: rgb(2,31,66);
  color: rgb(254,203,69);
  max-height: 7vh;
}

.nav-link {
  color: rgb(254,203,69);
}

.nav-link:hover{
  color: white;
}

.img-fluid {
  object-fit: cover;
  max-width: 100%;
  max-height: 20vh;
  background-position: center center;
  background-repeat: no-repeat;
}

