// BASIC Layout

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
	padding: 0;
	margin: 0;
}
.navbar {
	background-color: rgb(2, 31, 66);
	color: rgb(254, 203, 69);
	max-height: 7vh;
}

.nav-link {
	color: rgb(254, 203, 69);
}

.nav-link:hover {
	color: white;
}

.footer {
	background-color: rgb(2, 31, 66);
	color: white;
	font-size: 0.8rem;
	max-height: 4vh;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 1vh; 
}


// AUTH Design
#user_input {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	justify-items: center;
}

#user-ingredients select {
	width: 80vw;
}

.user-input-ingredients {
  display: flex;
  flex-direction: column
}

//Carousel Design

.carousel-caption {
	color: black;
	background-color: white;
	position: relative;
	height: 120vh;
	overflow-y: scroll;
	margin-top: 3vh;
	left: auto;
	right: auto;
}

.carousel-inner {
	overflow: visible;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	background-color: rgb(2, 31, 66);
	position: fixed;
	bottom: 65vh;
}

.carousel-image {
	height: 20vh;
	object-fit: cover;
}
