<div class="card">
    <a href="/recipes/{{recipe}}/recipe/{{toLowerCase lastName}}
    ">
        <img class="card-img-top" src="{{photo}}" alt="Card image cap"></a>
    <div class="card-body">
        
    </div>
</div>